body {

    background: url(img/wallpaper_background.png) repeat-x #3d3659;
    text-align: center;
    color: #666666;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 30px;
}

h1 {
    color: #FFFFFF;
    font-size: 42px;
    position: absolute;
    top: 0px;
    right: 30px;

    text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
}

input {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

    input, textarea {
        border: 1px solid #CCCCCC;
        border-radius: 3px;
    }

    input[type=submit] {
        background: #EEEEEE;
        padding: 5px 10px;
        margin: 10px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background: #DDDDDD;
        }

    input[type=text] {
        background: #EEEEEE;
        padding: 5px 10px;
        margin: 10px;
        text-align: right;
        width: 20px;
    }

.error-text {
    color: #AA0000;
}

.error-message {
    display: inline-block;
    color: #AA0000;
    margin: 5px;
    padding: 5px;
    background: #FFF2F2;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    position: relative;
}

.success-message {
    color: #00AA00;
    margin: 15px auto;
    padding: 10px 15px;
    background: #F2FFF2;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    width: 600px;
    position: relative;
}

    .error-message .close, .success-message .close {
        position: absolute;
        display: block;
        height: 16px;
        line-height: 16px;
        width: 16px;
        top: 5px;
        right: 5px;
        padding: 0;
        display: block;
        border: 1px solid #DDDDDD;
        font-size: 14px;
        text-decoration: none;
        background: #FFFFFF;
        border-radius: 8px;
        color: #000000;
        cursor: pointer;
    }

        .error-message .close:hover, .success-message .close:hover {
            background: #EEEEEE;
            border: 1px solid #CCCCCC;
        }

fieldset {
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
    padding-top: 20px;
    display: inline-block;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}

    fieldset legend {
        position: relative;
        top: 13px;
        padding: 5px 0 0 0;
        background: none;
    }

#ThumbnailContainer {

    position: relative;

    text-align: left;

    margin: 20px auto 20px auto;
    padding: 20px;
    background: #FFFFFF;

    min-width: 100px;
    width: 600px;

    height: 180px;

    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);
}
    #ThumbnailContainer .content {
        height: 185px;
        white-space: nowrap;
        padding: 0 10px;

        overflow-x: scroll;
        overflow-y: hidden;
    }

    #ThumbnailContainer img {
        border-radius: 3px;
        margin: 5px;
        position: relative;
        z-index: 1;
    }

    #ThumbnailContainer .content a {

    }

    #ThumbnailContainer .content a.active {
        border: 1px solid #AAAADD;
        display: inline-block;
        background: #EEEEFF;
        border-radius: 2px;
    }

    #ThumbnailContainer .content a.active img {
        opacity: 0.8;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }

    #ThumbnailContainer .left-fader {

        width: 50px;
        height: 185px;
        position: absolute;
        top: 0px;
        left: 20px;
        z-index: 2;

        background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }

    #ThumbnailContainer .right-fader {

        width: 50px;
        height: 185px;
        position: absolute;
        top: 0px;
        right: 20px;
        z-index: 2;

        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    }

#ImageContainer {

    display: inline-block;
    max-width: 90%;
    min-width: 100px;
    max-height: 600px;

    margin: 20px auto 20px auto;
    padding: 20px;
    background: #FFFFFF;

    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.2);

}

    #ImageContainer img {
        border-radius: 3px;
    }

ul {
    margin: 10px 20px 10px 0;
}